<!DOCTYPE html>
<html>
  <head>
    <title>Rod's Market </title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a @click="cartToggle" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart (0)</span>
        </a>
      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Rod's Market</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <div class="recommended">

          <div class="recommended">

          <div v-for="(product,i) in inventory.slice(0,3)" :key="product.id" class="card">
            <div class="card-title">
              {{product.name}}
            </div>
            <div class="card-body"> 
              <i class="icofont-10x icofont-{{product.icon}}" ></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>{{product.type}}</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    ${{product.price.USD}}
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model.number="inventory[i].quantity">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button @click="addToCart(product.name,i)" class="btn btn-light">
                Add to cart
              </button>
            </div>
          </div>
        </div>

      </main>

      <cart
      v-if="cartVisible"
      :toggle="cartToggle"
      :cart="cart"
      :inventory="inventory"
      :remove="removeItem"
      />

      <footer>
      </footer>

    </div>
      
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data() {
          return {
            inventory:[],
            cart: { },
             cartVisible:true
          }
        },
        methods: {
          addToCart(name,i) {

            if(!this.cart[name]) this.cart[name] = 0

            this.cart[name] += this.inventory[i].quantity
            console.log(this.cart)
          },
          cartToggle() {

            return this.cartVisible = !this.cartVisible;

          },
          removeItem(name) {
            delete this.cart[name]
          }
        },
        async mounted() {
          
          const res = await fetch('./food.json')
          const data = await res.json();
          
          this.inventory = data
        }
      })

      app.component('cart',{

        data() {

          return {

           
          }

        },
        methods: {
          getPrice(name) {

            const product = this.inventory.find((p) => {return p.name === name})

            return product.price.USD;
          },
          getIcon(i) {
            return this.inventory[i].icon;
          },
          calculateTotal() {
            const total = Object.entries(this.cart).reduce((acc, curr, index) => {
              return acc + (curr[1] * this.getPrice(curr[0]))
            }, 0)

            return total.toFixed(2)
          }


        },
        props:['toggle','cart','inventory','remove'],

        template: `
        <aside class="cart-container" >
        <div class="cart">
          <h1 class="cart-title spread">
            <span>
              Cart
              <i class="icofont-cart-alt icofont-1x"></i>
            </span>
            <button class="cart-close" @click="toggle">&times;</button>
          </h1>

          <div class="cart-body">
            <table class="cart-table">
              <thead>
                <tr>
                  <th><span class="sr-only">Product Image</span></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th><span class="sr-only">Actions</span></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(qty,name,i) in cart" :key="i">
                  <td><i class="icofont-{{getIcon(i)}} icofont-3x"></i></td>
                  <td>{{name}}</td>
                  <td>\${{getPrice(name).toFixed(2)}}</td>
                  <td class="center">{{qty}}</td>
                  <td>\${{(qty * getPrice(name)).toFixed(2)}}</td>
                  <td class="center">
                    <button class="btn btn-light cart-remove" @click="remove(name)">
                      &times;
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <p class="center" v-if="Object.keys(this.cart).length == 0"><em>No items in cart</em></p>
            <br>
            <div class="spread">
              <span><strong>Total:</strong> \${{calculateTotal()}}</span>
              <button class="btn btn-light">Checkout</button>
            </div>
          </div>
        </div>
      </aside>
        `

      })

      app.mount('#app')
    </script>
  </body>
</html>
